mixin docLeftMenuGuidesList
    li
        a(href="/docs/guides/how-to-redirect-user-depending-on-platform"
          class=(path === '/docs/guides/how-to-redirect-user-depending-on-platform' ? 'selected' : ''))

            | How to redirect user depending on platform

    li
        a(href="/docs/guides/how-to-use-an-access-token"
          class=(path === '/docs/guides/how-to-use-an-access-token' ? 'selected' : ''))

            | How to use an access token

    li
        a(href="/docs/guides/how-to-refresh-an-access-token"
          class=(path === '/docs/guides/how-to-refresh-an-access-token' ? 'selected' : ''))

            | How to refresh an access token

    li
        a(href="/docs/guides/how-to-inspect-access-token"
          class=(path === '/docs/guides/how-to-inspect-access-token' ? 'selected' : ''))

            | How to inspect an access token
    
    li
        a(href="/docs/guides/how-to-parse-client-notifications"
          class=(path === '/docs/guides/how-to-parse-client-notifications' ? 'selected' : ''))

            | How to parse client notifications

    li
        a(href="/docs/guides/how-to-handle-personal-information-update"
          class=(path === '/docs/guides/how-to-handle-personal-information-update' ? 'selected' : ''))

            | How to handle personal information update