mixin passwordInput (attr, disabled)
    input(type="password"
        name= attr.name || 'password'
        id= attr.id || 'password'
        class= flash('errors.' + (attr.name || 'password')) ? 'invalid' : ''
        placeholder="●●●●●●●●"
        required="required"
        pattern= '.{' + config.EVENID_USERS.MAX_LENGTHS.PASSWORD + ',}'
        value= flash(attr.name || 'password')
        disabled= !!disabled)

    .toggle-password-visibility-container
        a(href= "javascript:;"
          class="toggle-password-visibility"
          tabindex="-1"
          data-field-id= attr.id || 'password'
          data-current-state="view"
          data-view-i18n= __('View typed password.')
          data-hide-i18n= __('Hide typed password.'))
            = __('View typed password.')

    if flash('errors.' + (attr.name || 'password'))
        .error-wrapper(class= attr.name ? '' : 'last')= flash('errors.' + (attr.name || 'password'))

mixin password (flow, forgottenPath, disabled)
    div
        label.clearfix(for= flow === 'changePassword' ? 'current-password' : 'password'
                       class= path === '/oauth/authorize' && flow === 'registration' && flash('invalid_password') ? 'hidden' : '')
            if flow === 'login'
                = __('Your password')
                a.forgotten-password(href=forgottenPath, tabindex="-1")= __('Forgot your password?')
            if flow === 'registration'
                = __('A password (%d characters min.)', config.EVENID_USERS.MAX_LENGTHS.PASSWORD)
            if flow === 'recoverPassword'
                = __('Your new password (%d characters min.)', config.EVENID_USERS.MAX_LENGTHS.PASSWORD)
            if (flow === 'changePassword')
                = __('Your current password')
            if (flow === 'email')
                = __('Your current password')
        
        label.clearfix.wrap(for= flow === 'changePassword' ? 'current-password' : 'password'
                            class= path === '/oauth/authorize' && flow === 'registration' && flash('invalid_password') ? '' : 'hidden')
            != __('The password previously used on sites and applications using EvenID. %sForgotten?%s', '<a href="' + escapeHTML(forgottenPath) + '" tabindex="-1">', '</a>')
        
        +passwordInput((flow === 'changePassword') ? {name: 'current_password', id: 'current-password'} : {}, disabled)

        if (flow === 'changePassword')
            label.clearfix(for="new-password")
                = __('Your new password (%d characters min.)', config.EVENID_USERS.MAX_LENGTHS.PASSWORD)

            +passwordInput({name: 'new_password', id: 'new-password'}, disabled)