extend ../layouts/baseAuthenticated

include /includes/formSep
include /includes/csrf

block prepend title
    = __('Addresses')

block appContentHeadTitle
    include ./includes/headerTitle

block appContentHeadBtn
    //- include ./includes/headerDeleteForm

mixin addressList(addresses, isUpdate)
    - var address = null

    - for (var i = 0, j = addresses.length; i < j; ++i)
        - address = addresses[i];
        
        li
            div
                h3= address.full_name

                if (authorizations && !isUpdate)
                    include ./includes/authorizedClientsForField
                    +authorizedClientsForField(authorizations, (field = 'addresses'), (fieldID = address.id))
            
            p
                = address.address_line_1 + '. '
                = (address.address_line_2 ? address.address_line_2 + '.' : '')
                = (address.access_code ? ' (' + address.access_code + ')' : '')
            
            p= address.city + ',' + (address.state ? ' ' + address.state : '') + ' ' + address.postal_code
            
            p= territories[address.country]
            
            if !isUpdate
                .entity-actions-container
                    form(method="post", action= '/users/' + user.id + '/addresses/' + address.id)
                        p
                            input(type="hidden", name="_method", value="DELETE")
                            
                            +csrf(csrfToken)
                            
                            a.btn(href= '/users/' + user.id + '/addresses/' + address.id)= __('Edit')
                            //- if !clientsWantField(authorizations, 'addresses', address.id)
                            button.btn.cancel(type="submit"
                                              data-sweetalert="true"
                                              data-sweetalert-title= __('Confirm the deletion?')
                                              data-sweetalert-text= __('Click "OK" if you want to delete this address.')
                                              data-sweetalert-type="warning"
                                              data-sweetalert-allow-outside-click="true"
                                              data-sweetalert-show-cancel-button="true"
                                              data-sweetalert-confirm-button-text= __('OK')
                                              data-sweetalert-cancel-button-text= __('Cancel'))= __('Delete')

block appContent
    - var isUpdate = !!address

    if isUpdate
        .form-breadcrumb
            ol.breadcrumb
                li
                    a(href= '/users/' + user.id + '/addresses')= __('Addresses')
                
                li.active
                    = address.address_line_1
    
    if addresses.length
        ul.form-entity-list
            +addressList(addresses, isUpdate)

        include /includes/pagination
        +pagination(nbOfPages, currentPage, previousDisabled, nextDisabled, '/users/' + user.id + '/addresses')
    
    form.form(method="post", action= '/users/' + user.id + '/addresses' + (isUpdate ? '/' + address.id : ''))
        +formSep(isUpdate ? __('Edit this address') : __('Add an address'))
            
        div
            div
                include ./includes/inputs/address
                +address((_fieldPrefix = ''), (_disabled = false))

            .form-fields-section
                +csrf(csrfToken)
                
                if isUpdate
                    input(type="hidden", name="_method", value="PUT")
                
                button.btn.create(type="submit")= isUpdate ? __('Edit this address') : __('Add this address')

                if (authorizations && isUpdate)
                    include ./includes/authorizedClientsForField
                    +authorizedClientsForField(authorizations, (field = 'addresses'), (fieldID = address.id))